@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgba(20, 20, 20, 1);
  --background-start-rgb: rgba(20, 20, 20, 1);
  --background-end-rgb: rgba(20, 20, 20, 1);
  --toastify-color-info: #346edb;
  --toastify-color-success: rgb(14 203 129);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgb(234 57 67);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(10, 10, 10, 1);
    --background-start-rgb: rgba(10, 10, 10, 1);
    --background-end-rgb: rgba(10, 10, 10, 1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1b1d22;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .background {
  background-color: #1b1d22;
  background-image: radial-gradient(#836ef9 1px, transparent 1px);
  background-size: 50px 50px;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #836ef9, transparent);
  opacity: 0.1;
} */

/* .background {
  background-color: #1B1D22;
  background-image: 
    repeating-radial-gradient(circle at 0 0, transparent 0, #1B1D22 10px),
    repeating-linear-gradient(#836EF955, #836EF955);
  background-blend-mode: multiply;
} */

/* .background {
  background-color: #1b1d22;
  position: relative;
  overflow: hidden;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: pulse 4s ease-out infinite;
}

.background::before {
  width: 200px;
  height: 200px;
  background-color: #836ef9;
  animation-delay: 0s;
}

.background::after {
  width: 300px;
  height: 300px;
  background-color: #836ef9;
  animation-delay: 2s;
} */

/* .background {
  background-color: #1b1d22;
  position: relative;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: moveBackground 10s linear infinite;
  opacity: 0.2;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at 50% 50%, #836ef9, transparent 50%);
  opacity: 0.1;
} */
/* 
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
} */

.background {
  background-color: #1b1d22;
  position: relative;
  overflow: hidden;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  left: -100%;
  width: 300%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: 0 0, 0 0;
  background-size: 50% 100%;
  animation: waveMotion 20s linear infinite;
}

.background::before {
  top: 0;
  background-image: radial-gradient(
    ellipse at 50% 150%,
    rgba(131, 110, 249, 0.15) 0%,
    transparent 70%
  );
}

.background::after {
  top: 20%;
  background-image: radial-gradient(
    ellipse at 50% 150%,
    rgba(131, 110, 249, 0.05) 0%,
    transparent 70%
  );
  animation-duration: 30s;
}

/* Effet de scintillement en vague subtile */
.background .sparkles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(131, 110, 249, 0.6) 1px,
    transparent 1px
  );
  background-size: 50px 50px;
  mask-image: linear-gradient(
    45deg,
    #000 33%,
    rgba(0, 0, 0, 0.1) 66%,
    #000 100%
  );
  mask-size: 100% 100%;
  animation: sparkleWave 10s ease-in-out infinite;
}

.cards-bg .sparkles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(131, 110, 249, 0.7) 1px,
    transparent 1px
  );
  background-size: 50px 50px;
  mask-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, #000 100%);
  mask-size: 100% 100%;
  animation: sparkleWave 10s ease-in-out infinite;
}

.cards-bg {
  background-color: #1b1d22;
  position: relative;
  overflow: hidden;
}

@keyframes sparkleWave {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 100% 100%;
  }
}

/* .background {
  background-color: #1b1d22;
  background-image: linear-gradient(
      rgba(131, 110, 249, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(131, 110, 249, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  position: relative;
} */

/* .background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at top right, #836ef9, transparent 60%);
  opacity: 0.1;
} */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-rgb) var(--background-end-rgb);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-mesh-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1b1d22;
  overflow: hidden;
}

.glow-1 {
  top: 10%;
  left: 5%;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(131, 110, 249, 0.6) 0%,
    rgba(131, 110, 249, 0) 70%
  );
}

.glow-2 {
  bottom: 20%;
  right: 20%;
  width: 200px;
  height: 200px;
  background: radial-gradient(
    circle,
    rgba(131, 110, 249, 0.6) 0%,
    rgba(131, 110, 249, 0) 70%
  );
}
.glow-3 {
  bottom: 20%;
  right: 5%;
  width: 800px;
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(131, 110, 249, 0.6) 0%,
    rgba(131, 110, 249, 0) 70%
  );
}

@keyframes glowAnimation {
  0% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

/* Contenu de la page */
.content {
  position: relative;
  z-index: 1;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.bg-change-green {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(100deg);
}

.bg-change-red {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(-100deg);
}

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
  border-color: initial; /* Remplacez 'initial' par la couleur de votre choix si vous voulez garder une bordure spécifique */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-slider {
  background: #ff0000;
  border: 1px solid yellow;
  color: red;
}

.custom-slider-bar {
  background: orange;
  border: 1px solid orange;
  color: orange;
}

.custom-slider-handle {
  background: green;
  border: 1px solid green;
  color: green;
}

.bar {
  height: 20px;
  margin: 1px 0;
}

.bid {
  background-color: #00800080; /* Green with opacity */
}

.ask {
  background-color: #ff000080; /* Red with opacity */
}

.price,
.volume,
.total-doge,
.total-usdc {
  width: 80px;
  text-align: right;
}

.volume-bar {
  flex-grow: 1;
  margin-left: 10px;
}

.relative {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  cursor: col-resize;
  z-index: 10;
  /* background-color: #836ef9; */
}

.resizer:hover {
  /* background-color: #836ef9; */
}
.resizer:nth-child(2) {
  left: calc(60% + 0px);
}
.resizer:nth-child(2) {
  left: calc(80% + 0px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-width {
  width: 100%;
}

.chart {
  height: calc(100% - 108px);
}

@media (max-width: 1168px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .container-width {
    width: calc(100% - 300px);
  }

  .chart {
    height: 450px;
  }

  .grid > div {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #333;
  }
}

@media (max-width: 768px) {
  .container-width {
    width: 100%;
  }
  .chart {
    height: 450px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.resizerY {
  background: red;
  height: 5px;
  cursor: row-resize;
  flex-shrink: 0;
  background-color: transparent;
}

.resizerY:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-outlined {
  background-image: linear-gradient(
    45deg,
    #fff,
    #000
  ); /* Couleur des contours (dégradé ou couleur unie) */
  background-clip: text; /* Découpe le fond pour qu'il soit visible uniquement à l'intérieur des lettres */
  -webkit-background-clip: text; /* Support pour les navigateurs WebKit (Chrome, Safari) */
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.resizer-last {
  cursor: ew-resize;
  background-color: transparent;
  width: 5px;
  height: 100%;
}

.tv-floating-toolbar,
.tvcolorpicker-popup,
.chart-popup {
  background-color: #ff0000 !important;
}

/* Personnalisation du texte dans les popups */
.tv-floating-toolbar *,
.tvcolorpicker-popup *,
.chart-popup * {
  color: #ff0000 !important;
}

.shadowY {
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
}
