@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgba(19, 22, 39, 1);
  --background-start-rgb: rgba(19, 22, 39, 1);
  --background-end-rgb: rgba(21, 25, 41, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(19, 22, 39, 1);
    --background-start-rgb: rgba(19, 22, 39, 1);
    --background-end-rgb: rgba(21, 25, 41, 1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-rgb) var(--background-end-rgb);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.bg-change-green {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(100deg);
}

.bg-change-red {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(-100deg);
}

input {
  border: none;
  background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-slider {
  background: #ff0000;
  border: 1px solid yellow;
  color: red;
}

.custom-slider-bar {
  background: orange;
  border: 1px solid orange;
  color: orange;
}

.custom-slider-handle {
  background: green;
  border: 1px solid green;
  color: green;
}

.bar {
  height: 20px;
  margin: 1px 0;
}

.bid {
  background-color: #00800080; /* Green with opacity */
}

.ask {
  background-color: #ff000080; /* Red with opacity */
}

.price,
.volume,
.total-doge,
.total-usdc {
  width: 80px;
  text-align: right;
}

.volume-bar {
  flex-grow: 1;
  margin-left: 10px;
}

.relative {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
  background-color: transparent;
  z-index: 10;
}

.resizer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.resizer:nth-child(2) {
  left: calc(80% + 2.5px); /* Positionner après la deuxième colonne */
}
