@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgba(19, 22, 39, 1);
  --background-start-rgb: rgba(19, 22, 39, 1);
  --background-end-rgb: rgba(21, 25, 41, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(19, 22, 39, 1);
    --background-start-rgb: rgba(19, 22, 39, 1);
    --background-end-rgb: rgba(21, 25, 41, 1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-rgb) var(--background-end-rgb);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.bg-change-green {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(100deg);
}

.bg-change-red {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(-100deg);
}

input {
  border: none;
  background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-slider {
  background: red;
  color: red;
}
